<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Pratica 2</title> 
    <meta http-equiv="Content-Type" 
    	content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="1" style="width:300px">
	    <tr>
	        <td>NOME</td>
	        <td>CPF</td>
                <td>CELULAR</td>
                <td>PROFISSAO</td>
	    </tr>
	    <tr th:each="cliente : ${clientes}">
	        <td th:text="${cliente.nome}"></td>
	        <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.telefoneCelular}"></td>
                <td th:text="${cliente.profissao}"></td>
	    </tr>
	</table>
</body>
</html>